[submodule "articles/0004_std_lib_http_client"]
	path = articles/0004_std_lib_http_client
	url = https://github.com/InfiniteConsult/0004_std_lib_http_client.git
[submodule "articles/0003_html_css_javascript_article_viewer"]
	path = articles/0003_html_css_javascript_article_viewer
	url = https://github.com/InfiniteConsult/0003_html_css_javascript_article_viewer.git
[submodule "articles/0002_docker_dev_environment"]
	path = articles/0002_docker_dev_environment
	url = https://github.com/InfiniteConsult/0002_docker_dev_environment.git
[submodule "articles/0001_basic_fastapi"]
	path = articles/0001_basic_fastapi
	url = https://github.com/InfiniteConsult/0001_basic_fastapi.git
[submodule "articles/0005_cicd_part01_docker"]
	path = articles/0005_cicd_part01_docker
	url = https://github.com/InfiniteConsult/0005_cicd_part01_docker.git
[submodule "articles/0006_cicd_part02_certificate_authority"]
	path = articles/0006_cicd_part02_certificate_authority
	url = https://github.com/InfiniteConsult/0006_cicd_part02_certificate_authority.git
[submodule "articles/0007_cicd_part03_gitlab"]
	path = articles/0007_cicd_part03_gitlab
	url = https://github.com/InfiniteConsult/0007_cicd_part03_gitlab.git
[submodule "articles/0008_cicd_part04_jenkins"]
	path = articles/0008_cicd_part04_jenkins
	url = https://github.com/InfiniteConsult/0008_cicd_part04_jenkins.git
[submodule "articles/0009_cicd_part05_artifactory"]
	path = articles/0009_cicd_part05_artifactory
	url = https://github.com/InfiniteConsult/0009_cicd_part05_artifactory.git
[submodule "articles/0010_cicd_part06_sonarqube"]
	path = articles/0010_cicd_part06_sonarqube
	url = https://github.com/InfiniteConsult/0010_cicd_part06_sonarqube.git
[submodule "articles/0011_cicd_part07_mattermost"]
	path = articles/0011_cicd_part07_mattermost
	url = https://github.com/InfiniteConsult/0011_cicd_part07_mattermost.git
